h1 회원가입
form(action='/auth/account' method='post')
  p
    input(type='text', name='username' placeholder='username')
  p
    input(type='password', name='password' placeholder='password')
  p
    input(tpye='text', name='displayName' placeholder='displayName')
  p
    input(type='submit')