doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title 메인 페이지
    link(rel='icon' type='/image/x-icon' href='/assets/favicon.ico')
    // 코어 CSS
    link(href='/css/styles.css' rel='stylesheet')

// Responsive navbar
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='/') 메인페이지
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='/') 메인페이지
                li.nav-item
                    a.nav-link(href='/board/list') 게시판(공사중)
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') 로그인 관련
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                        li
                            a.dropdown-item(href='/auth/logout') 로그아웃
                        li
                            a.dropdown-item(href='/auth/deleteUser') 회원탈퇴

// 부트스트랩 JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

block content